button{
    margin-top: 1rem;
    margin-left: 1rem;
}
#report{
    width: 200mm;
    margin-left: 1rem;
    background-color: rgb(159, 187, 196);
    padding-left: 1%;
    margin-top: 2rem;
}
.jumbotron{
background-color:aliceblue;
}
