<app-sidebar></app-sidebar>
<div class="container">
    <div class="row mb-3">
        <div class="col">
    <div class="card" style="width: 20rem; height: 20rem;">
        <div class="card-body" routerLink="/save-train">
          <img src="https://bsmedia.business-standard.com/_media/bs/img/misc/2020-09/26/full/20200925227L.jpg">
         
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 20rem;height: 20rem;">
        <div class="card-body">
          <img src="https://i.pinimg.com/originals/8a/e2/62/8ae2627a88a3f32c9c34165b7afdcfb1.jpg">
          
        </div>
      </div>
    </div>

    

    <div class="col">
        <div class="card1" style="width: 50rem; height: 20rem;">
          <div class="card-body">
            <img class="img-banner hover-zoom" src="https://www.open.edu/openlearn/pluginfile.php/2652608/mod_resource/content/0/b206_OLHP_786x400.jpg">

          </div>
        </div>
      </div>
    </div>
      
</div>
