@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
.logo {
    margin-left: 2.5rem;
}
.navbar-brand {
margin-left: 0rem;
text-decoration: solid;
font-family: 'Libre Baskerville', serif;
}
.nav-link{
    margin-right: 2rem;
    
    font-family: 'Libre Baskerville', serif;
}