<app-sidebar></app-sidebar>
<div class="container">
    <h2><b>Train Details.</b></h2>
    <button class="btn btn-success" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModalCenter" >Edit Seats</button>
   
    <table class="table mt-4">
        <thead>
            <tr>
                <th>Train Id</th>
                <th>Name</th>
                <th>Arrival Time</th>
                <th>Departure Time</th>
                <th>Arrival Date</th>
                <th>Departure Date</th>
                <th>Arrival Station</th>
                <th>Departure Station</th>
                <th>IsActive</th>
            </tr>
        </thead>
        <!-- <tbody>
            <tr >
                <td>{{row.TrainId}}</td>
                <td>{{row.Name}}</td>
                <td>{{row.ArrivalTime}}</td>
                <td>{{row.DepartureTime}}</td>
                <td>{{row.ArrivalDate}}</td>
                <td>{{row.DepartureDate}}</td>
                <td>{{row.ArrivalStation}}</td>
                <td>{{row.DepartureStation}}</td>
                <td>{{row.isActive}}</td>
                <td>
                    
                    <button  class="btn btn-danger"><mat-icon>delete</mat-icon></button>
                </td>
            </tr>
        </tbody> -->
    </table> 

</div>